{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>{% block title %}BOLT! Flashcards{% endblock %}</title>
</head>
<body>
    <a class="home-button" href="{% url 'list_decks' %}"> 
        <h1>BOLT! Flashcards</h1>
    </a> 
    {% block content %}
    {% endblock %}
</body>
</html>